[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = https://github.com/balena-os/balena-yocto-scripts.git
[submodule "layers/meta-freescale"]
	path = layers/meta-freescale
	url = https://git.yoctoproject.org/git/meta-freescale
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "layers/meta-balena"]
	path = layers/meta-balena
	url = https://github.com/balena-os/meta-balena.git
[submodule "layers/meta-rust"]
	path = layers/meta-rust
	url = https://github.com/meta-rust/meta-rust.git
[submodule "layers/meta-variscite-imx"]
	path = layers/meta-variscite-imx
	url = https://github.com/varigit/meta-variscite-imx.git
[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/balena-os/poky
[submodule "layers/meta-fsl-bsp-release"]
	path = layers/meta-fsl-bsp-release
	url = https://source.codeaurora.org/external/imx/meta-fsl-bsp-release
	branch = imx-morty
[submodule "layers/meta-laird-cp"]
	path = layers/meta-laird-cp
	url = https://github.com/LairdCP/meta-laird-cp.git
[submodule "layers/meta-variscite-fslc"]
	path = layers/meta-variscite-fslc
	url = https://github.com/varigit/meta-variscite-fslc.git
